html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1', charset='utf-8')
    title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='//fonts.googleapis.com/css?family=Pacifico:400', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    script(src='/js/jquery-1.11.1.min.js')
    script(src='/js/jquery-ui.js')      
    script(src='/js/bootstrap.min.js')
    script(src='/js/common.js') 
  body
    .header
      h2.col-xs-12 Btour
    .choicecontainer.col-xs-12
    .search-box(onclick='')
      span#searchicon.glyphicon.glyphicon-search(aria-hidden="true")
      p Search
      p Spot Cards!
      p#or OR
    .recommend-box
      p Recommend me
      p a Spot Cards!
      a#userid(src= uin)