html
  head
    link(href='http://getbootstrap.com/dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='/stylesheets/style.css', rel='stylesheet')
    title btour
  body
   .container(style='')
   button(onclick='location.href=\'/login/auth/facebook\'') Facebook login
  script(src='/js/jquery.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='/js/ie10-viewport-bug-workaround.js')
