html
  head
    link(type='text/css', rel='stylesheet', href='/site.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='http://code.jquery.com/jquery-2.1.0.min.js')
    script(src='//code.jquery.com/ui/1.11.2/jquery-ui.js')
    script(src='/js/common.js') 
  body
    .header
    	h2.col-xs-12 Btour
    		