html
  head
    link(type='text/css', rel='stylesheet', href='/site.css')
    script(src='/js/common.js') 
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 Hello world!
    a(class="add")+