html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1', charset='utf-8')
    title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/mainpage.css')
    link(href='//fonts.googleapis.com/css?family=Pacifico:400', rel='stylesheet', type='text/css')  
    script(type='text/javascript', src='http://code.jquery.com/jquery-2.1.0.min.js')
    script(src='//code.jquery.com/ui/1.11.2/jquery-ui.js')    	
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
    script(src='/js/common.js')
    script(type='text/javascript', src='/js/jquery-1.8.0.min.js')
  body
    .header
        h2.col-xs-12 Btour
          .container.col-xs-12
  div(width='100%', height='30%')
    h3.col-xs-12 #{location}
  div
    iframe#mapIframe(width='100%', height='50%', scrolling='no', frameborder='0' marginheight='0', marginwidth='0' src='http://dna.daum.net/include/tools/routemap/map_view.php?width=360&height=360&latitude=37.718695611566346&longitude=128.83204123821244&contents=&zoom=4')
    //iframe(width='100%', height='50%', frameborder='0', scrolling='no', marginheight='0', marginwidth='0', src='http://maps.google.com/maps?q='+location+'&output=embed&hl=en')
    div.mapBtnGrounp
      button#mapBtn1.btn.btn-primary(type='button' style='margin-top: auto;') 구글 지도
      button#mapBtn2.btn.btn-primary(type='button' style='margin-top: auto;') 다음 지도
      button#mapBtn3.btn.btn-primary(type='button' style='margin-top: auto;') Bing 지도
  div(width='100%', height='20%')
    h2.col-xs-12 Detail route to your destination



         
       

          