html
  head
    meta(charset='utf-8')
    script(src='/js/jquery-1.11.1.min.js')
    script(type='text/javascript', src='//apis.daum.net/maps/maps3.js?apikey=962cd881331a324257095e2257f5407c5e14b371')
    script(src='/js/mapIframe.js')
    title
    div#Lat(style='display: none;')= Lat
    div#Lng(style='display: none;')= Lng
  body(onload='btour.map.mapIframe();')
    #map(style='width: 100%; height: 350px;')


    

