html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1', charset='utf-8')
    title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='http://code.jquery.com/jquery-2.1.0.min.js')
    script(src='//code.jquery.com/ui/1.11.2/jquery-ui.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
  body
    .header
      h2.col-xs-12 Btour
    .list-container.col-xs-12
      .list-item.col-xs-12(onclick='location.href=\'/recommend/historical\'')
        img(alt='historical', src='http://asiasociety.org/files/koreatradition.jpg')
        p HISTORICAL
      .list-item.col-xs-12(onclick='location.href=\'/recommend/shopping\'')
        img(alt='shopping', src='http://cfile25.uf.tistory.com/image/1770763E4E7355B91112F8')
        p SHOPPING
      .list-item.col-xs-12(onclick='location.href=\'/recommend/food\'')
        img(alt='food', src='http://upload.wikimedia.org/wikipedia/commons/f/f5/Korean.food-Bibimbap-02.jpg')
        p &nbsp;&nbsp;&nbsp; FOOD
      .list-item.col-xs-12(onclick='location.href=\'/recommend/nature\'')
        img(alt='nature', src='http://richardlstansfield.files.wordpress.com/2012/11/nature1-2.jpg')
        p &nbsp;NATURE
      .list-item.col-xs-12(onclick='location.href=\'/recommend/kwave\'')
        img(alt='k-wave', src='http://mblogthumb1.phinf.naver.net/20120402_20/spiriti_1333370628867l0lOV_JPEG/movie_image_(20).jpg?type=w2')
        p &nbsp;K-WAVE
      .list-item.col-xs-12(onclick='location.href=\'/recommend/culture\'')
        img(alt='culture', src='http://english.visitkorea.or.kr/enu/cms/content/97/752897_1_5.jpg')
        p CULTURE
      .list-item.col-xs-12(onclick='location.href=\'/recommend/sports\'')
        img(alt='sports', src='http://cfile237.uf.daum.net/image/0265D341509A3A29031F0D')
        p &nbsp;SPORTS