html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1', charset='utf-8')
    title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='//fonts.googleapis.com/css?family=Pacifico:400', rel='stylesheet', type='text/css')
    script(type='text/javascript', src='http://code.jquery.com/jquery-2.1.0.min.js')
    script(src='//code.jquery.com/ui/1.11.2/jquery-ui.js')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
  

    script(src='/js/common.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
  body#searchpage
    .header
      h2.col-xs-12 Btour
    ul.nav.navbar-default
      span#searchicon.glyphicon.glyphicon-search(aria-hidden="true")
      input#search.form-control(placeholder="search",type="text")
      div.uin(src= uin)
    .list-container.col-xs-12#searcheditem
      

      
