html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1', charset='utf-8')
    title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    script(src='/js/jquery-1.11.1.min.js')
    script(src='/js/jquery-ui.js')      
    script(src='/js/bootstrap.min.js')
  body
    .header
      h2.col-xs-12 Btour
    .spot-container.col-xs-12
        img(alt='', src=imageUrl)
        h1.col-xs-12=tmName 
        .description=tmDescript

