html,body{overflow-x: hidden; 
    overflow-y: auto;}


body { 
  background: url(/image/mainpage-1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


button {
background-image: url(https://fbcdn-dragon-a.akamaihd.net/hphotos-ak-xap1/t39.2178-6/851558_575761415814161_1164808389_n.png);
background-repeat: no-repeat;
background-position: 50% 50%;
border: none;
margin-top: 90%;
margin-left: 12%;
height: 64px;
width: 311px;
}

button span {
  display: none;
}